version: '3'
services:
  web:
    image: myapp:latest
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://db_user:db_pass@db:5432/db_name

  db:
    image: postgres:latest
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=db_user
      - POSTGRES_PASSWORD=db_pass
      - POSTGRES_DB=db_name

volumes:
  pg_data:
